inoremap <expr> <C-Space> pumvisible() \|\| &omnifunc == '' ? "\<lt>C-n>" : "\<lt>C-x>\<lt>C-o><c-r>=pumvisible() ?" . "\"\\<lt>c-n>\\<lt>c-p>\\<lt>c-n>\" :" . "\" \\<lt>bs>\\<lt>C-n>\"\<CR>"
imap <C-@> <C-Space>

*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject


### /Users/Bob/.gitignore-boilerplates/Global/Vim.gitignore

.*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~


### /Users/Bob/.gitignore-boilerplates/C++.gitignore

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a


### /Users/Bob/.gitignore-boilerplates/C.gitignore

# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app


### /Users/Bob/.gitignore-boilerplates/Objective-C.gitignore

# Xcode
.DS_Store
*/build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
*.hmap


### /Users/Bob/.gitignore-boilerplates/Ruby.gitignore

*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/


### /Users/Bob/.gitignore-boilerplates/Global/OSX.gitignore

.DS_Store
.AppleDouble
.LSOverride
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes


### /Users/Bob/.gitignore-boilerplates/Global/Linux.gitignore

.*
!.gitignore
*~


### /Users/Bob/.gitignore-boilerplates/Global/Mercurial.gitignore

/.hg/*
*/.hg/*
.hgignore


### /Users/Bob/.gitignore-boilerplates/Global/Tags.gitignore

# Ignore tags created by etags and ctags
TAGS
!TAGS/
tags
!tags/


### /Users/Bob/.gitignore-boilerplates/Global/VirtualEnv.gitignore

# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ss]cripts


### /Users/Bob/.gitignore-boilerplates/Global/Windows.gitignore

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Local vim state files.
.viminfo
vim/view/

# Irssi SASL auth file
irssi/sasl.auth
# Irssi away log file
irssi/away.log

# Private zsh source
zsh/private
zsh/histfile
zsh/private-functions

" vim bundles, except vundle submodule
vim/bundle

" vim plug
vim/autoload/plug.vim
vim/autoload/plug.vim.old

" config for apps
config/Pinta
config/gtk-2.0
config/inkscape
config/mono.addins

" Tmux plugsin
!tmux/plugins
tmux/plugins/*
!tmux/plugins/tpm
tmux/notify/*

" Kitty config backups
config/kitty/*.bak
