[submodule "tmux/tmux-colors-solarized"]
	path = tmux/tmux-colors-solarized
	url = https://github.com/seebi/tmux-colors-solarized.git
[submodule "irssi/irssi-colors-solarized"]
	path = irssi/irssi-colors-solarized
	url = git://github.com/huyz/irssi-colors-solarized.git
[submodule "dircolors/dircolors-solarized"]
	path = dircolors/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
